NODE_ENV=production
PORT=3001

CORS_ORIGIN=http://localhost:3001

JWT_SECRET=enter_here_very_strong_words_with_minimum_32_character

ADMIN_USERNAME=enter_your_admin_username
ADMIN_PASSWORD=enter_your_strong_password_for_admin_user

# Optional rate limit control
MESSAGES_PER_HOUR=60
